button {
    border-radius: 0;
    color: darkgreen;
    background-color: lightblue;
    width: 2.5em;
    padding: 15px 32px;
    border: 1px;
    font-size: 32px;
    text-align: center;
    margin: none;
}

btn-group {
    display: inline;
}